body{
    background-color:rgb(8, 6, 44);
    padding-top :70px;
    margin-bottom : 10 px;
}
.header{
    color :rgb(0, 149, 149);
    text-align: center;
    border: 5px solid rgb(66, 222, 201);
    border-radius: 30px;
    padding-top:10px;
    padding-bottom : 30 px ;
    font-size : 30px;
}
.header1{
    color :rgb(3, 184, 184);
    text-align: center;
    border: 5px dashed rgb(66, 222, 201);
    border-radius: 30px;
    padding-top:10px;
    padding-bottom : 30 px ;
    margin:30px;
    font-size : 50px;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight:<weight>;
    font-style: normal;

}.header2{
    color :rgb(3, 218, 218);
    text-align: center;
    border: 5px dashed rgb(66, 222, 201);
    border-radius: 30px;
    padding-top:10px;
}  